<!doctype html>
<html itemscope itemtype="//schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{community_description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{community_name}}: {{community_description}}</title>
  <meta property="og:title" content="{{community_description}}" />
  <meta property="og:description" content="{{community_description}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://botmakers.org" />
  <meta property="og:image" content="https://botmakers.org/images/site-thumbnail-3.png" /> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@fourtonfish">
  <meta name="twitter:title" content="{{community_description}}">
  <meta name="twitter:description" content="{{community_description}}">
  <meta name="twitter:image:src" content="https://botmakers.org/images/site-thumbnail-3.png">
  <meta name="twitter:domain" content="https://botmakers.org">
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
  <link rel="stylesheet" href="css/styles.1.21.min.css">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="images/favicon-144.png">
  <link rel="shortcut icon" href="images/favicon.ico"/>
  <link rel="apple-touch-icon" href="images/favicon-152.png">
  <link rel="apple-touch-icon-precomposed" href="images/favicon-152.png">
  <link rel="icon" href="images/favicon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicon-64.png">
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro|Merriweather+Sans|Lobster" rel="stylesheet" type="text/css">
</head>
<body>
  <script>
    var node = document.createElement('style');
    node.innerHTML = '.shifted{-webkit-transition:all 1s;transition:all 1s;-webkit-transform:translate(0,10px);-ms-transform:translate(0,10px);transform:translate(0,10px);opacity:0}';
    document.body.appendChild(node);
  </script>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <section id="content">
    <div id="content-inner">
      <!-- Site logo -->
      <a href="/"><img title="Hello, human! BEEP" class="logo" src="/images/robot-face-emoji-one.svg"></a>
      {{{body}}}
    </div>

    <footer class="shifted">
      <!-- Footer content -->
      <p>
        <strong>Botmakers</strong> is the official <a href="https://botwiki.org/">Botwiki</a> community, maintained by the <a href="https://github.com/botwiki">Botwiki team</a> and hosted by <a href="https://slack.com/is">Slack</a>. <strong>All members must read and follow our <a href="https://botwiki.org/coc/">Code of Conduct</a>.</strong>

        Source of this page is <a href="https://github.com/botwiki/botmakers.org">available on GitHub</a>. Any questions? Need help? Reach out to  <a href="mailto:stefan@botwiki.org?cc=v@veronicabelmont.com">the Botwiki team</a> (<a href="https://twitter.com/botwikidotorg">@botwikidotorg</a> on Twitter)! And check out the <a href="https://github.com/botwiki/botmakers.org/blob/master/BOTS.md">bots we're playing with</a> :-)</p>

      <p>Image credits: <a href="http://subtlepatterns.com/">subtlepatterns.com</a>, <a href="http://emojione.com/">emojione.com</a>.</p>
    </footer>
  </section>
  <script defer src="js/scripts.1.2.min.js"></script>
  {{> visitor_stats }}
  </body>
</html>